body
{
    margin:0;
    padding:0;
    /* background: url(../images/bg1.jpg) #fff ; */
    /* background: rgba(44, 45, 46, 0.58); */
}
#wrapper{
    background: url('../images/boat.jpg') center center;
    height: 100vh;
    width: 100%;
}
.login{
    background: url('../images/bg1.jpg') center center;
    height: 100vh;
     display: flex;
      align-content: center; 
      justify-content: center;
      flex-direction: column; 
}
.navigation{
    box-shadow: 0px 3px 3px 0px rgba(34, 34, 34, 0.47);    
}
#result-wrapper{
    background: #fff;
    padding: 30px;
}
.add-form{
    border: 1px solid #C9C9C9;
    border-radius: 15px;
    padding: 15px;
    background: #fff;
    box-shadow: 4px 6px 5px 0px rgba(34, 34, 34, 0.47);
    margin-bottom: 20px;
}
.add-btn{
    margin: 5px auto;
}
.form-control{
    margin: 5px 0;
}
.control-label{
    margin: 5px 0;
}
.way-bill-table{
    border: 1px solid #C9C9C9;
    border-radius: 15px;
    padding: 15px;
    background: #fff;
    box-shadow: 4px 6px 5px 0px rgba(34, 34, 34, 0.47);
    margin-bottom: 20px;
}
.shadow{
    box-shadow: 4px 6px 5px 0px rgba(34, 34, 34, 0.47);    
}
.result-text{
    font-weight: 600;
    color: #666;
}